html {
  height: 100%;
  min-height: 100%;
}
body {
  font-family: Geneva,Tahoma,Verdana,sans-serif; 
  font-size: 1.2em;
  min-height: 100%;
}

header{}

/*****************************************************/
/*********STICKY FOOTER OF EACH PAGE ****************/
/****************************************************/

.page-wrap {
  /*width:70%;
  margin:auto;*/
  min-height: 100%;
  /* equal to footer height */
  margin-bottom: 50px;
}
.page-wrap:after {
  content: "";
  display: block;
}
#footer, .page-wrap:after {
  width:
  height: 50px;
  min-height: 50px;
}


/*****************************************************/
/**********************  MISC ************************/
/****************************************************/

.test{
  color:red;
  border: 1px solid black;
}

.link-like{
  cursor: pointer;
}

.justify{
  text-align: justify;
}

.bold{
  font-weight: bold;
}
